body{
    background-image: url("bg1.jpg");
    /* 背景画像を画面全体に表示 */
    background-size: cover; 
    font-family: 'Times New Roman', Times, serif; 
}

a{
    color: #fff;
}

.midashi {
    margin: 0;
    position: relative;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.after {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    position: relative;
    width: 160px;
    margin: 10px auto 0;
    
}

.after:before {
    content: '';
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    width: 300px;
    left: -60px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

dialog {
    width: 250px;
    padding: 30px 20px;
    border: 1px #aaa;
    border-radius: 0.5rem;
    box-shadow: 0 0 1em #888;
    background-color: tan;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-weight: 600;
}

.top-right {
    text-align: center;
}

.slider {
 width: 600px;
 height: 400px;
 overflow: hidden;
 margin: 0 auto;
  
  }
  .slider-item {
    width: 400px;
    float: left;
  }
  img{
    width:100%;
  }
  .slider-inner {
    width: 400%;
    animation: slider 10s infinite ease;
  }
  
  @keyframes slider {
      0% {
      transform: translateX(0);
      }
      33% {
      transform: translateX(-300px);
      }
      66% {
      transform: translateX(-600px);
      }
      100% {
      transform: translateX(0);
      }
  }

